{% extends 'base.html.twig' %}

{% block title %}BookBinder_Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}

{% block main %}
    <h2>Find Books and Book Lovers!!</h2>

    <div class="search-wrapper">
        <input id="input" class="search" placeholder="Search here..." type="text" >
        <button id="search-button" onclick="getBooks()">Search</button>
    </div>
    <div id="output">


    </div>


    <aside>
        <article>
        </article>
        <article>
        </article>
    </aside>
{% endblock %}