#logo {
    margin-top: 10px;
    margin-right: 20px;
}

nav {
    margin-left: auto;
}

header{
    margin-top: 3%;
    background-color: #316764;
    color: mintcream;
    border-radius: 25px;
    padding: 20px;
    height: 15%;

    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: mintcream;
}

#profile_img {
    width: 50px;
    border-radius: 10px;
}


#profile_icon{
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 5px;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#subtitle{
    margin-top: -30px;
    margin-left: 50px;
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.element{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
}

.menu{
    font-size: 15px;
}

section {
    padding: 20px;
    border-radius: 10px;
    height: auto;
}

#book_img {
    width: 400px;
    position: center;
}

body {
    background-color: #A7DDBC;
    color: #5C4033;
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

}

.wrapper {
    position: relative;
    display: flex;
    min-width: 70%;

}



.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}



.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px; /* adjust the right position to move the icon to the right place */
    width: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
}


footer {
    margin-top: 10px;
    border-radius: 10px;
    padding: 30px 20px;
    background-color: #316764;
    color: white;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Book {
    display: flex;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px;
}

.Book > div {
    width: auto;
    padding: 10px;
}

.Information {
    height:636px;
    overflow-y:scroll;
}

.far, .fas {
    cursor: pointer;
    user-select: none;
    margin: 15px;
}

.far:hover, .fas:hover {
    color: #316764;
}

.Details, .user_rating {
    background-color: #A7DDBC;
    border-radius: 30px;
    width: 500px;
}

.row {
    display: flex;
    flex-direction: row;
}

.Specifications {
    text-align: center;
    width: 240px;
}

button {
    background-color: #609687;
    color: white;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
}

button:hover {
    opacity: 0.8;
}

.user_rating {
    padding: 1px 20px 20px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
}

.middle {
    margin-top:10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.bars:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #ff9800;}
.bar-4 {width: 30%; height: 18px; background-color: #ff9800;}
.bar-3 {width: 10%; height: 18px; background-color: #ff9800;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #ff9800;}

.ReviewForm {
    display: none;
}

/* Styles for screen widths up to 900px */

@media screen and (max-width:900px) {
    /* Styles for the header */
    header.flex-container{
        display: revert;
    }
    .flex-container{
        display: revert;
    }
    .footer-container{
        flex-direction: column;
    }
    .element{
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    #logo{
        align-items: center;
    }

    #book_img {
        width: 50px;
        position: center;
    }

}