#logo {
    margin-top: 10px;
    margin-right: 20px;
}

nav {
    margin-left: auto;
}

header{
    margin-top: 3%;
    background-color: #316764;
    color: mintcream;
    border-radius: 25px;
    padding: 20px;
    height: 15%;

    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: mintcream;
}

#subtitle{
    margin-top: -30px;
    margin-left: 50px;
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.element{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
}

section {
    padding: 20px;
    border-radius: 10px;
    height: auto;
}


body {
    background-color: #A7DDBC;
    color: #5C4033;
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

}

.wrapper {
    position: relative;
    display: flex;
    min-width: 70%;

}



.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}



.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px; /* adjust the right position to move the icon to the right place */
    width: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
}


footer {
    margin-top: 10px;
    border-radius: 10px;
    padding: 30px 20px;
    background-color: #316764;
    color: white;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 50px;
    border-radius: 10px;
}

#trending-books {
    margin-top: 30px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.book {
    width: 150px;
    margin-right: 20px;
    text-align: center;
}

.book img {
    width: 100%;
}

/* Styles for screen widths up to 900px */

@media screen and (max-width:900px) {
    /* Styles for the header */
    header.flex-container{
        display: revert;
    }
    .flex-container{
        display: revert;
    }
    .footer-container{
        flex-direction: column;
    }
    .element{
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    #logo{
        align-items: center;
    }

    img {
        width: 50px;
        position: center;
        }

}