{% extends 'home/index.html.twig' %}

{% block title %}Libraries Page{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/libraries.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/libraries.js') }}"></script>
{% endblock %}

{% block main %}
    <h3>Search for a library</h3>
    <div class="search-wrapper">
        <input id="input" class="search" placeholder="library name" type="text" >
            <button id="search-button" onclick="searchLibrary()">Search</button>
    </div>

    <h1>Libraries</h1>

    {% block previousButton %}
    {% endblock %}

    <div id="librariesContainer" class="librariesContainer">
        <!-- Libraries data will be appended here -->
    </div>

{% endblock %}