{% extends 'libraries/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/library_select.css') }}">
    {{ parent() }}
{% endblock %}

{% block previousButton %}

    <a href="{{ path('app_create_meetup') }}">
        <button class="previousButton">Previous</button>
    </a>

{% endblock %}