{% extends 'home/index.html.twig' %}

{% block title %}Bookprofile{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bookprofile.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block main %}
    <section class="Book">

        <div class="cover">
            <img src="{{ asset('images/We_were_liars.png') }}" width="300" alt="Book cover">
        </div>
        <div class="Information">
            <h2>We were liars</h2>
            <h3>E. Lockhart</h3>

            <h4>Genres</h4>
            <div class="Genres">
                <p>Young Adult, Fiction</p>
            </div>

            <div class="Description">
                <h4>Description</h4>
                <p>We are the Liars. We are beautiful, privileged and live a life of carefree luxury.
                    We are cracked and broken. It is a story of love and romance. It is a tale of tragedy.
                    Which are lies? Which is truth?...
                </p>
            </div>


            <div class="Details">
                <div class="row">
                    <div class="Specifications">
                        <h5>ISBN</h5>
                        <p>978-150110368</p>
                    </div>
                    <div class="Specifications">
                        <h5>Print length</h5>
                        <p>224 pages</p>
                    </div>
                    <div class="Specifications">
                        <h5>Publication date</h5>
                        <p>2 August 2016</p>
                    </div>
                </div>

                <div class="row">
                    <div class="Specifications">
                        <h5>Language</h5>
                        <p>English</p>
                    </div>
                    <div class="Specifications">
                        <h5>Dimensions</h5>
                        <p>22 x 14 x 3.1 cm</p>
                    </div>
                    <div class="Specifications">
                        <h5>Reading age</h5>
                        <p>14-17 years</p>
                    </div>
                </div>

            </div>

            <button type="button" style="font-size: 15px"> <i class='fas fa-user-alt'></i> <b> People who liked this book</b>  </button>
            <button type="button" style="font-size: 15px"> <i class='fas fa-user-alt'></i> <b> People who are reading this book</b>  </button>

            <div class="Reviews">

                <div class="user_rating">
                    <h4>Reviews</h4>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <p>4.1 average based on 254 reviews.</p>

                    <div class="bars">
                        <div class="side">
                            <div>5 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-5"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>150</div>
                        </div>
                        <div class="side">
                            <div>4 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-4"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>63</div>
                        </div>
                        <div class="side">
                            <div>3 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-3"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>15</div>
                        </div>
                        <div class="side">
                            <div>2 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-2"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>6</div>
                        </div>
                        <div class="side">
                            <div>1 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-1"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>20</div>
                        </div>
                    </div>

                    <button onclick="openForm()" type="button" style="font-size: 15px"> <i class='fas fa-quote-left'></i> <b> Schrijf een review</b>  <i class='fas fa-quote-right'></i> </button>

                    <script>
                        function openForm() {
                            document.getElementById("inputReview").style.display = "block";
                        }
                    </script>
                    <div class="reviewForm" id="inputReview">
                        <form action="/action_page.php" class="form-container">
                            <label for="overall-rating">Overall Rating:</label>
                            <select id="overall-rating" name="overall-rating">
                                <option value="5">5 stars</option>
                                <option value="4">4 stars</option>
                                <option value="3">3 stars</option>
                                <option value="2">2 stars</option>
                                <option value="1">1 star</option>
                            </select><br>

                            <label for="review-text">Review Text:</label>
                            <textarea id="review-text" name="review-text"></textarea><br>

                            <input type="submit" value="Submit Review">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <i style="font-size: 50px" onclick="likeDislike(this)" class="far fa-heart"></i>

        <!-- Does not work? -->
        <script>
            function likeDislike(x) {
                x.classList.toggle("fas fa-heart");
            }
        </script>

    </section>

{% endblock %}
