/*colors used: https://www.schemecolor.com/green-ocean.php*/

header, footer {
    text-align: center;
}

h1{
    font-size: 35px;
}

section {
    padding: 20px;
    border-radius: 10px;
    background-color: #316764;
}

body {
    background-color: #A7DDBC;
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
    margin: auto;
    padding: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

label {
    color: white;
}

button {
    background-color: #609687;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
}

img {
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

footer {
    margin-top: 10px;
    border: #316764 solid 2px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
input[type="date"]{
    background-color: #609687;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 50px;
}
::-webkit-calendar-picker-indicator{
    background-color: #609687;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}